/ExtraLongFactorials/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/FormingAMagicalSquare/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/TheTimeInWords/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.idea/.idea.HackerRank/.idea/contentModel.xml
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.AssemblyInfo.cs
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.AssemblyInfoInputs.cache
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.assets.cache
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.csproj.CoreCompileInputs.cache
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.csproj.FileListAbsolute.txt
/ExtraLongFactorials/obj/ExtraLongFactorials.csproj.nuget.dgspec.json
/ExtraLongFactorials/obj/ExtraLongFactorials.csproj.nuget.g.props
/ExtraLongFactorials/obj/ExtraLongFactorials.csproj.nuget.g.targets
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.csprojAssemblyReference.cache
/ExtraLongFactorials/bin/Debug/netcoreapp3.1/ExtraLongFactorials.deps.json
/ExtraLongFactorials/bin/Debug/netcoreapp3.1/ExtraLongFactorials.dll
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.dll
/ExtraLongFactorials/bin/Debug/netcoreapp3.1/ExtraLongFactorials.exe
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.exe
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.genruntimeconfig.cache
/ExtraLongFactorials/bin/Debug/netcoreapp3.1/ExtraLongFactorials.pdb
/ExtraLongFactorials/obj/Debug/netcoreapp3.1/ExtraLongFactorials.pdb
/ExtraLongFactorials/bin/Debug/netcoreapp3.1/ExtraLongFactorials.runtimeconfig.dev.json
/ExtraLongFactorials/bin/Debug/netcoreapp3.1/ExtraLongFactorials.runtimeconfig.json
/FormingAMagicalSquare/obj/Debug/netcoreapp3.1/FormingAMagicalSquare.AssemblyInfo.cs
/FormingAMagicalSquare/obj/Debug/netcoreapp3.1/FormingAMagicalSquare.AssemblyInfoInputs.cache
/FormingAMagicalSquare/obj/Debug/netcoreapp3.1/FormingAMagicalSquare.assets.cache
/ExtraLongFactorials/obj/project.assets.json
/FormingAMagicalSquare/obj/project.assets.json
/SherlockAndTheValidString/obj/project.assets.json
/TheTimeInWords/obj/project.assets.json
/ExtraLongFactorials/obj/project.nuget.cache
/FormingAMagicalSquare/obj/project.nuget.cache
/SherlockAndTheValidString/obj/project.nuget.cache
/TheTimeInWords/obj/project.nuget.cache
/ExtraLongFactorials/obj/project.packagespec.json
/FormingAMagicalSquare/obj/project.packagespec.json
/SherlockAndTheValidString/obj/project.packagespec.json
/TheTimeInWords/obj/project.packagespec.json
/.idea/.idea.HackerRank/.idea/projectSettingsUpdater.xml
/ExtraLongFactorials/obj/rider.project.restore.info
/FormingAMagicalSquare/obj/rider.project.restore.info
/SherlockAndTheValidString/obj/rider.project.restore.info
/TheTimeInWords/obj/rider.project.restore.info
/TheTimeInWords/obj/TheTimeInWords.csproj.nuget.dgspec.json
/TheTimeInWords/obj/TheTimeInWords.csproj.nuget.g.props
/TheTimeInWords/obj/TheTimeInWords.csproj.nuget.g.targets
/.idea/.idea.HackerRank/.idea/vcs.xml
/.idea/.idea.HackerRank/.idea/workspace.xml
/TheTimeInWords/obj/Debug/netcoreapp3.1/TheTimeInWords.AssemblyInfoInputs.cache
/TheTimeInWords/obj/Debug/netcoreapp3.1/TheTimeInWords.assets.cache
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.AssemblyInfoInputs.cache
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.assets.cache
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.csproj.CoreCompileInputs.cache
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.csproj.FileListAbsolute.txt
/SherlockAndTheValidString/obj/SherlockAndTheValidString.csproj.nuget.dgspec.json
/SherlockAndTheValidString/obj/SherlockAndTheValidString.csproj.nuget.g.props
/SherlockAndTheValidString/obj/SherlockAndTheValidString.csproj.nuget.g.targets
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.csprojAssemblyReference.cache
/SherlockAndTheValidString/bin/Debug/netcoreapp3.1/SherlockAndTheValidString.deps.json
/SherlockAndTheValidString/bin/Debug/netcoreapp3.1/SherlockAndTheValidString.dll
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.dll
/SherlockAndTheValidString/bin/Debug/netcoreapp3.1/SherlockAndTheValidString.exe
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.exe
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.genruntimeconfig.cache
/SherlockAndTheValidString/bin/Debug/netcoreapp3.1/SherlockAndTheValidString.pdb
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.pdb
/SherlockAndTheValidString/bin/Debug/netcoreapp3.1/SherlockAndTheValidString.runtimeconfig.dev.json
/SherlockAndTheValidString/bin/Debug/netcoreapp3.1/SherlockAndTheValidString.runtimeconfig.json
/.idea/.idea.HackerRank/riderModule.iml
/FormingAMagicalSquare/obj/FormingAMagicalSquare.csproj.nuget.dgspec.json
/FormingAMagicalSquare/obj/FormingAMagicalSquare.csproj.nuget.g.props
/FormingAMagicalSquare/obj/FormingAMagicalSquare.csproj.nuget.g.targets
/.idea/.idea.HackerRank/.idea/indexLayout.xml
/.idea/.idea.HackerRank/.idea/modules.xml
/SherlockAndTheValidString/obj/Debug/netcoreapp3.1/SherlockAndTheValidString.AssemblyInfo.cs
/TheTimeInWords/obj/Debug/netcoreapp3.1/TheTimeInWords.AssemblyInfo.cs
